<tr>
  <td><%= offer_rule.first_name %></td>
  <td><%= offer_rule.last_name %></td>
  <td><%= link_to 'Show', offer_rule %></td>
  <td><%= link_to 'Edit', edit_person_path(offer_rule) %></td>
  <td><%= link_to 'Destroy', offer_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>