<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                        <span class="clear">
                            <span class="block m-t-xs" style="margin-top:0px;">
                                <strong class="font-bold" style="font-size:16px;color:white;">SPOKES</strong>
                            </span>
                        </span>
            </li>
            <li class="<%= 'active' if current_page?('/home/offers') %>">
                <%= link_to home_offers_path do %>
                <i class="fa fa-calendar"></i> <span class="nav-label">Offers</span>
                <% end %>
            </li>
            <li class="<%= 'active' if ( current_page?('/merchants/1/edit') | current_page?('/') ) %>">
                <%= link_to "/merchants/1/edit" do %>
                <i class="fa fa-cutlery"></i> <span class="nav-label">My business profile</span>
                <% end %>
            </li>
            <li class="<%= 'active' if ( request.url.include?('/photos') ) %>">
                <%= link_to "/photos" do %>
                <i class="fa fa-picture-o"></i> <span class="nav-label">Photos</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>